<header class="page__header">
    <h1 class="header__title">El juego de las parejas</h1>
    <div class="header__input-container">
      <label for="numbercards1">
        <input class="header__input1" id="numbercards1" type="radio" value="4" name="numbercards">
        4
      </label>
      <label for="numbercards2">
        <input class="header__input2" id="numbercards2" type="radio" value="6" name="numbercards">
        6
      </label>
      <label for="numbercards3">
        <input class="header__input3" id="numbercards3" type="radio" value="8" name="numbercards">
        8
      </label>
    </div>
    <button class="header__btn" type="button">Comenzar</button>
</header>
